/* line 42, ../scss/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 43, ../scss/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 44, ../scss/_base.scss */
.clearfix {
  *zoom: 1;
}

/* line 5, ../scss/style.scss */
html {
  overflow-y: scroll;
}

/* line 9, ../scss/style.scss */
body {
  border-top: 3px solid #2775ff;
  background-color: #fffefb;
  color: #333333;
  font-family: "proxima-nova", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 1100px) {
  /* line 9, ../scss/style.scss */
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 9, ../scss/style.scss */
  body {
    font-size: 15px;
  }
}

/* line 29, ../scss/style.scss */
#container {
  margin: 0 auto 60px auto;
  max-width: 700px;
  padding: 0 2%;
  width: 92%;
}
@media only screen and (max-width: 1100px) {
  /* line 29, ../scss/style.scss */
  #container {
    max-width: 600px;
  }
}
@media only screen and (max-width: 850px) {
  /* line 29, ../scss/style.scss */
  #container {
    max-width: 700px;
  }
}
/* line 43, ../scss/style.scss */
.home #container, .about #container, .resume #container {
  max-width: 1000px;
}

/* line 48, ../scss/style.scss */
.left {
  float: left;
  width: 60%;
}

/* line 52, ../scss/style.scss */
.right {
  float: right;
  width: 35%;
  overflow-x: hidden;
}

@media only screen and (max-width: 680px) {
  /* line 57, ../scss/style.scss */
  .left, .right {
    float: none;
    width: 100%;
  }
}

/* line 68, ../scss/style.scss */
a:link, a:visited {
  color: #2775ff;
  text-decoration: underline;
}
/* line 72, ../scss/style.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* line 77, ../scss/style.scss */
h1, h2, h3, h4 {
  color: #333333;
  line-height: 1.2em;
  border-bottom: 1px solid #cccccc;
}
/* line 83, ../scss/style.scss */
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited {
  text-decoration: none;
}
/* line 86, ../scss/style.scss */
h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active, h3 a:hover, h3 a:focus, h3 a:active, h4 a:hover, h4 a:focus, h4 a:active {
  text-decoration: underline;
}

/* line 91, ../scss/style.scss */
h1 {
  font-size: 1.8em;
  margin: 0.8em 0 0.2em 0;
}

/* line 92, ../scss/style.scss */
h2 {
  font-size: 1.5em;
  margin: 1.2em 0 0.6em 0;
}

/* line 93, ../scss/style.scss */
h3 {
  font-size: 1.3em;
  margin: 1.2em 0 0.6em 0;
  color: #999999;
}

/* line 94, ../scss/style.scss */
h4 {
  font-size: 1.1em;
  margin: 1.2em 0 0.6em 0;
  color: #999999;
}

/* line 98, ../scss/style.scss */
.content h1 a:link, .content h1 a:visited {
  color: #333333;
  text-decoration: none;
}

/* line 104, ../scss/style.scss */
p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.6em;
}
/* line 109, ../scss/style.scss */
p code {
  font-size: 12px;
  background-color: #eeeeee;
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 2px 4px;
  white-space: nowrap;
}

/* line 119, ../scss/style.scss */
blockquote {
  padding: 0.7em 2em;
  border: 1px solid #cccccc;
  border-left: 8px solid #2775ff;
  background-color: #F7F7F7;
  font-style: italic;
  color: #555555;
}

/* line 128, ../scss/style.scss */
ul {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

/* line 133, ../scss/style.scss */
li {
  margin: 0.3em 0;
}

/* line 137, ../scss/style.scss */
abbr[title] {
  border-bottom: 1px dotted #999999;
}

/* line 142, ../scss/style.scss */
.red {
  color: #2775ff;
}

/* line 143, ../scss/style.scss */
.strong {
  font-weight: bold;
}

/* line 148, ../scss/style.scss */
img, iframe, object, embed, audio, video {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

/* line 154, ../scss/style.scss */
img {
  padding: 3px;
  border: 1px solid #eeeeee;
}

/* Code that changes the ad to horizontal orientation are defined as mixins so that we
   can use them multiple times (i.e. on the home page, as well on the post page with
   a media query)
*/
/* line 167, ../scss/style.scss */
.carbonad {
  background: #f9f7f1 !important;
  border: 1px solid #eeeeee !important;
}
/* line 171, ../scss/style.scss */
.carbonad img {
  margin: 0;
  max-width: none;
  padding: 11px 0 0 11px;
  border: 0;
}
/* line 189, ../scss/style.scss */
.home .carbonad, .about .carbonad {
  height: 100px !important;
  padding: 10px !important;
  position: static !important;
  margin: 15px auto !important;
  width: 260px !important;
}
/* line 184, ../scss/style.scss */
.home .carbonad img, .about .carbonad img {
  margin: 0;
  padding: 0;
}
/* line 192, ../scss/style.scss */
.post .carbonad {
  position: absolute !important;
  margin-top: -30px !important;
  margin-left: 730px !important;
  z-index: 5;
}
@media only screen and (max-width: 1100px) {
  /* line 192, ../scss/style.scss */
  .post .carbonad {
    margin-left: 625px !important;
  }
}
@media only screen and (max-width: 950px) {
  /* line 192, ../scss/style.scss */
  .post .carbonad {
    height: 100px !important;
    padding: 10px !important;
    position: static !important;
    margin: 15px auto !important;
    width: 260px !important;
  }
  /* line 184, ../scss/style.scss */
  .post .carbonad img {
    margin: 0;
    padding: 0;
  }
}

/* line 213, ../scss/style.scss */
.home .carbonad-image, .about .carbonad-image {
  margin: 0 10px 0 0 !important;
  padding: 0 !important;
}
@media only screen and (max-width: 950px) {
  /* line 216, ../scss/style.scss */
  .post .carbonad-image {
    margin: 0 10px 0 0 !important;
    padding: 0 !important;
  }
}

/* line 228, ../scss/style.scss */
.home .carbonad-text, .about .carbonad-text, .home .carbonad-tag, .about .carbonad-tag {
  margin: 2px 0 0 0 !important;
  padding: 0 !important;
}
@media only screen and (max-width: 950px) {
  /* line 231, ../scss/style.scss */
  .post .carbonad-text, .post .carbonad-tag {
    margin: 2px 0 0 0 !important;
    padding: 0 !important;
  }
}

/* line 238, ../scss/style.scss */
.carbonad-text {
  color: #999999 !important;
}
/* line 240, ../scss/style.scss */
.carbonad-text a {
  color: #666666 !important;
}

/* line 243, ../scss/style.scss */
.carbonad-tag {
  color: #999999 !important;
}
/* line 245, ../scss/style.scss */
.carbonad-tag a {
  color: #999999 !important;
}
/* line 250, ../scss/style.scss */
.home .carbonad-tag, .about .carbonad-tag {
  margin-top: 15px !important;
}
@media only screen and (max-width: 950px) {
  /* line 253, ../scss/style.scss */
  .post .carbonad-tag {
    margin-top: 15px !important;
  }
}

/* line 263, ../scss/style.scss */
#header {
  text-align: center;
}
/* line 265, ../scss/style.scss */
#header h1 {
  border-bottom: none;
  font-family: "gothic-open-shaded", "Aleo", Caslon, Baskerville, Palatino, "Palatino Linotype", "Hoefler Text", Garamond, "URW Palladio L", "Book Antiqua", Georgia, serif;
  font-size: 4em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 40px 0 10px 0;
}
@media only screen and (max-width: 480px) {
  /* line 265, ../scss/style.scss */
  #header h1 {
    font-size: 3em;
    margin: 30px 0 0 0;
  }
}
/* line 279, ../scss/style.scss */
#header a:link, #header a:visited {
  text-decoration: none;
}
/* line 282, ../scss/style.scss */
#header a:hover, #header a:focus, #header a:active {
  border-bottom: 6px solid #2775ff;
}

/* line 288, ../scss/style.scss */
#github {
  position: absolute;
  top: 50px;
  left: -75px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #4689ff;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 80px;
  text-align: center;
  text-decoration: none;
  text-shadow: 10px, 10px, 10px, #333333;
  -webkit-box-shadow: #999999 1px 1px 4px;
  -moz-box-shadow: #999999 1px 1px 4px;
  box-shadow: #999999 1px 1px 4px;
}
/* line 306, ../scss/style.scss */
#github:hover, #github:focus, #github:active {
  background: #2775ff;
}
@media only screen and (max-width: 850px) {
  /* line 288, ../scss/style.scss */
  #github {
    display: none;
  }
}

/* line 320, ../scss/style.scss */
.home h2 {
  position: relative;
  margin-top: 1.2em;
}
/* line 325, ../scss/style.scss */
.home small {
  color: #666666;
  text-align: center;
  font-size: 1em;
}

/* line 331, ../scss/style.scss */
.rss {
  opacity: 0.30;
  float: right;
  height: 23px;
  width: 23px;
}
/* line 336, ../scss/style.scss */
.rss img {
  margin: 0;
  border: 0;
  padding: 1px;
}
/* line 337, ../scss/style.scss */
.meta .rss {
  margin-top: -3px;
}
/* line 338, ../scss/style.scss */
.rss:hover {
  opacity: 1;
}

/* line 344, ../scss/style.scss */
.byline {
  color: #999999;
  font-size: 0.75em;
}

/* line 350, ../scss/style.scss */
.byline > *:not(:last-child):after {
  content: " \2022 ";
  padding: 0 0.4em;
}

/* line 356, ../scss/style.scss */
.tags {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}

/* line 362, ../scss/style.scss */
.tags li {
  display: inline;
}

/* line 367, ../scss/style.scss */
.tags li:not(:last-child):after {
  content: ", ";
}

/* line 373, ../scss/style.scss */
.byline a:link, .byline a:visited {
  color: #999999;
  text-decoration: underline;
}
/* line 377, ../scss/style.scss */
.byline a:hover, .byline a:focus, .byline a:active {
  color: #2775ff;
  text-decoration: underline;
}

/* line 383, ../scss/style.scss */
.meta {
  margin-top: 75px;
}

/* line 388, ../scss/style.scss */
.copy .avatar {
  float: left;
}
/* line 390, ../scss/style.scss */
.copy .avatar img {
  margin: 0 15px 15px 0;
}
/* line 393, ../scss/style.scss */
.copy input {
  display: inline;
  font-size: 14px;
}
/* line 394, ../scss/style.scss */
.copy [type="email"] {
  margin-left: 10px;
  width: 150px;
}
/* line 396, ../scss/style.scss */
.copy .twitter-share-button, .copy .twitter-follow-button {
  display: inline-block;
}
/* line 397, ../scss/style.scss */
.copy iframe {
  margin: 0 0 30px 0;
  vertical-align: top;
}

/* line 407, ../scss/style.scss */
.resume h1 {
  border-bottom: 0;
  margin-top: 0;
  text-align: center;
}
/* line 413, ../scss/style.scss */
.resume h3 {
  border-bottom: 0;
  color: #333333;
  font-size: 1.05em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-decoration: none;
  vertical-align: top;
}
/* line 426, ../scss/style.scss */
.resume li span, .resume h3 span {
  color: #666666;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 5px;
}
/* line 431, ../scss/style.scss */
.resume li span:before, .resume h3 span:before {
  content: " [";
}
/* line 432, ../scss/style.scss */
.resume li span:after, .resume h3 span:after {
  content: "]";
}
/* line 437, ../scss/style.scss */
.resume .right h3 {
  margin-bottom: 0.3em;
}
/* line 438, ../scss/style.scss */
.resume .right h3 + p {
  margin: 0.3em 0;
}
/* line 439, ../scss/style.scss */
.resume .right ul {
  margin-top: 0.3em;
}

/* line 447, ../scss/style.scss */
a.prev {
  left: -120px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 452, ../scss/style.scss */
a.next {
  right: -120px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 457, ../scss/style.scss */
a.prev, a.next {
  display: block;
  font-size: 1.1em;
  opacity: 0.8;
  overflow: hidden;
  padding: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  top: 45%;
  width: 250px;
  white-space: nowrap;
  z-index: 2;
}
/* line 472, ../scss/style.scss */
a.prev:hover, a.next:hover {
  opacity: 1 !important;
}
/* line 474, ../scss/style.scss */
a.prev.hidden, a.prev.hidden:hover, a.next.hidden, a.next.hidden:hover {
  display: none;
}
/* line 476, ../scss/style.scss */
a.prev:before, a.next:before {
  content: "";
  background: url('../../images/up.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 25px;
  width: 24px;
}
@media only screen and (max-width: 1100px) {
  /* line 457, ../scss/style.scss */
  a.prev, a.next {
    font-size: 1.0em;
  }
}
@media only screen and (max-width: 850px) {
  /* line 457, ../scss/style.scss */
  a.prev, a.next {
    display: none;
  }
}

/* line 502, ../scss/style.scss */
ul.listing {
  margin: 20px 0 30px 0;
  padding: 0;
}
/* line 506, ../scss/style.scss */
ul.listing > li {
  list-style: none;
  margin: 20px 0;
}
/* line 510, ../scss/style.scss */
ul.listing > li > a:link, ul.listing > li > a:visited {
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}
/* line 515, ../scss/style.scss */
ul.listing > li > a:hover, ul.listing > li > a:focus, ul.listing > li > a:active {
  text-decoration: underline;
}
/* line 520, ../scss/style.scss */
ul.listing span, ul.listing time {
  display: block;
  color: #666666;
}
/* line 526, ../scss/style.scss */
ul.listing time a:link, ul.listing time a:visited {
  color: #666666;
  text-decoration: underline;
}
/* line 530, ../scss/style.scss */
ul.listing time a:hover, ul.listing time a:focus, ul.listing time a:active {
  color: #2775ff;
}

/* line 540, ../scss/style.scss */
.highlight {
  margin: 1.2em 0;
  background-color: #eeeeee;
  font-size: 13px;
  line-height: 1.4em;
  padding: 0px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  color: #333333;
}

/* line 550, ../scss/style.scss */
.hightlight code {
  float: left;
}

/* line 553, ../scss/style.scss */
.highlight:hover {
  overflow: auto;
}

/* line 556, ../scss/style.scss */
.highlight .hll {
  background-color: #ffffcc;
}

/* line 557, ../scss/style.scss */
.highlight .c {
  color: #888888;
}

/* Comment */
/* line 558, ../scss/style.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 559, ../scss/style.scss */
.highlight .k {
  color: #008800;
  font-weight: bold;
}

/* Keyword */
/* line 560, ../scss/style.scss */
.highlight .cm {
  color: #888888;
}

/* Comment.Multiline */
/* line 561, ../scss/style.scss */
.highlight .cp {
  color: #cc0000;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 562, ../scss/style.scss */
.highlight .c1 {
  color: #888888;
}

/* Comment.Single */
/* line 563, ../scss/style.scss */
.highlight .cs {
  color: #cc0000;
  font-weight: bold;
  background-color: #fff0f0;
}

/* Comment.Special */
/* line 564, ../scss/style.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 565, ../scss/style.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 566, ../scss/style.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 567, ../scss/style.scss */
.highlight .gh {
  color: #303030;
}

/* Generic.Heading */
/* line 568, ../scss/style.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 569, ../scss/style.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 570, ../scss/style.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 571, ../scss/style.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 572, ../scss/style.scss */
.highlight .gu {
  color: #606060;
}

/* Generic.Subheading */
/* line 573, ../scss/style.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 574, ../scss/style.scss */
.highlight .kc {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 575, ../scss/style.scss */
.highlight .kd {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 576, ../scss/style.scss */
.highlight .kn {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 577, ../scss/style.scss */
.highlight .kp {
  color: #008800;
}

/* Keyword.Pseudo */
/* line 578, ../scss/style.scss */
.highlight .kr {
  color: #008800;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 579, ../scss/style.scss */
.highlight .kt {
  color: #888888;
  font-weight: bold;
}

/* Keyword.Type */
/* line 580, ../scss/style.scss */
.highlight .m {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number */
/* line 581, ../scss/style.scss */
.highlight .s {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String */
/* line 582, ../scss/style.scss */
.highlight .na {
  color: #336699;
}

/* Name.Attribute */
/* line 583, ../scss/style.scss */
.highlight .nb {
  color: #003388;
}

/* Name.Builtin */
/* line 584, ../scss/style.scss */
.highlight .nc {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Class */
/* line 585, ../scss/style.scss */
.highlight .no {
  color: #003366;
  font-weight: bold;
}

/* Name.Constant */
/* line 586, ../scss/style.scss */
.highlight .nd {
  color: #555555;
}

/* Name.Decorator */
/* line 587, ../scss/style.scss */
.highlight .ne {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Exception */
/* line 588, ../scss/style.scss */
.highlight .nf {
  color: #0066bb;
  font-weight: bold;
}

/* Name.Function */
/* line 589, ../scss/style.scss */
.highlight .nl {
  color: #336699;
  font-style: italic;
}

/* Name.Label */
/* line 590, ../scss/style.scss */
.highlight .nn {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Namespace */
/* line 591, ../scss/style.scss */
.highlight .py {
  color: #336699;
  font-weight: bold;
}

/* Name.Property */
/* line 592, ../scss/style.scss */
.highlight .nt {
  color: #bb0066;
  font-weight: bold;
}

/* Name.Tag */
/* line 593, ../scss/style.scss */
.highlight .nv {
  color: #336699;
}

/* Name.Variable */
/* line 594, ../scss/style.scss */
.highlight .ow {
  color: #008800;
}

/* Operator.Word */
/* line 595, ../scss/style.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 596, ../scss/style.scss */
.highlight .mf {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Float */
/* line 597, ../scss/style.scss */
.highlight .mh {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Hex */
/* line 598, ../scss/style.scss */
.highlight .mi {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer */
/* line 599, ../scss/style.scss */
.highlight .mo {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Oct */
/* line 600, ../scss/style.scss */
.highlight .sb {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Backtick */
/* line 601, ../scss/style.scss */
.highlight .sc {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Char */
/* line 602, ../scss/style.scss */
.highlight .sd {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Doc */
/* line 603, ../scss/style.scss */
.highlight .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Double */
/* line 604, ../scss/style.scss */
.highlight .se {
  color: #0044dd;
  background-color: #fff0f0;
}

/* Literal.String.Escape */
/* line 605, ../scss/style.scss */
.highlight .sh {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Heredoc */
/* line 606, ../scss/style.scss */
.highlight .si {
  color: #3333bb;
  background-color: #fff0f0;
}

/* Literal.String.Interpol */
/* line 607, ../scss/style.scss */
.highlight .sx {
  color: #22bb22;
  background-color: honeydew;
}

/* Literal.String.Other */
/* line 608, ../scss/style.scss */
.highlight .sr {
  color: #008800;
  background-color: #fff0ff;
}

/* Literal.String.Regex */
/* line 609, ../scss/style.scss */
.highlight .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}

/* Literal.String.Single */
/* line 610, ../scss/style.scss */
.highlight .ss {
  color: #aa6600;
  background-color: #fff0f0;
}

/* Literal.String.Symbol */
/* line 611, ../scss/style.scss */
.highlight .bp {
  color: #003388;
}

/* Name.Builtin.Pseudo */
/* line 612, ../scss/style.scss */
.highlight .vc {
  color: #336699;
}

/* Name.Variable.Class */
/* line 613, ../scss/style.scss */
.highlight .vg {
  color: #dd7700;
}

/* Name.Variable.Global */
/* line 614, ../scss/style.scss */
.highlight .vi {
  color: #3333bb;
}

/* Name.Variable.Instance */
/* line 615, ../scss/style.scss */
.highlight .il {
  color: #0000DD;
  font-weight: bold;
}

/* Literal.Number.Integer.Long */
@media print {
  /* colors (black on white) */
  /* line 621, ../scss/style.scss */
  body, h1, h2, h3, h4, .content h1 a, .highlight {
    color: black;
    background-color: white;
  }

  /* hide some sections, including comments */
  /* line 627, ../scss/style.scss */
  section.meta, div#carbonads-container {
    display: none;
  }

  /* show URL after links */
  /* line 632, ../scss/style.scss */
  article a:link:after, article a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
}
