---
layout: layout
title: "Home of Lucas Ou-Yang"
class: home
---
<div class="left">
  <h2>Blog <a href="/posts/" class="viewtag">- view all</a>
    <!-- <a class="rss" href="http://feeds.feedburner.com/codelucas" title="Subscribe to the codelucas.com Feed">
      <img src="/images/rss.png" alt="RSS Feed Icon" />
    </a> -->
  </h2>
  <ul class="listing">
    {% for post in site.posts limit:6 %}
    <li>
      <a href="{{ post.url }}/">{{ post.title }}</a>
      <time datetime="{{post.date | date: "%Y-%m-%d"}}">
        {{ post.date | date: "%B %e, %Y" }}{% if post.github %}.
        Code on <a href="{{ post.github }}">GitHub</a>.
        {% endif %}
      </time>
    </li>
    {% endfor %}
  </ul>
  <h2>Large Projects</h2>
  <ul class="listing">
    <li>
      <a href="http://wintria.com">Wintria</a> 
      <span>News search engine. 1M+ Articles indexed.</span>
    </li>
    <li>
      <a href="http://socialrank.codelucas.com">SocialRank</a> - 
		<a class="viewtag" href="https://github.com/codelucas/socialrank">view code</a>
      <span>Reddit's hotness algorithm + facebook likes!</span>
    </li>
    <li>
      <a href="/pages/island-overlord.html">IslandOverlord</a> -
		 <a class="viewtag" href="https://github.com/codelucas/islandoverlord">view code</a>
      <span>3D Virtual life simulation.</span>
    </li>
    <li>
      <strong>Darehut.com</strong> - 
		<a class="viewtag">discontinued</a>
		<a class="viewtag" href="https://github.com/codelucas/darehut">view code</a> 
      <span>A reddit clone where users can "dare" others.</span>
    </li>
  </ul>
  <h2>Misc</h2>
  <ul class="listing">
    <li>
      <a href="/quotes/">Inspiring Quotes</a>
      <span>Everyone has to start somewhere!</span>
    </li>
    <li>
      <a href="/notes/">Technical notes</a>
      <span>Notes I keep track of while building things.</span>
    </li>
    <li>
      <a href="/art/">Photography & art</a>
      <span>I enjoy sketching and photography.</span>
    </li>
  </ul>
</div>

<div class="right">
  <h2>Lucas Ou-Yang</h2>
  <div class="bio">
    <p>
      Hi. I'm <strong>&#8593;</strong>. I love software & art, 
      <br>
      This is my homepage!
    </p>
    <p>
      My <a href="/about/" class="strong">personal</a> and <a href="/resume/" class="strong">resume</a> are available.
      <br>Follow me on <a href="https://twitter.com/lucasouyang">Twitter</a> or 
			<a href="https://www.facebook.com/lucas.ouyang.7">Facebook</a>.
      <!-- <br>Send me email at <a href="mailto:lucas@wintria.com">lucas@wintria.com</a>. -->
    </p>

    <a class="avatar" title="Lucas Ou-Yang">
      <img src="/images/selfie1.jpg" 
	alt="Check me out..." style="max-width:250px;margin:0px 0px 0px 0px;" />
    </a>
  </div>

  <h2>Small Hacks <a href="/small-hacks/" class="viewtag">- view all</a></h2>
  <ul class="listing">
    <li>
      <a href="http://wintria.com">EasyComplete</a> - 
		<a class="viewtag" href="https://github.com/codelucas/easycomplete">view code</a>
      <span>Python auto-completion module.</span>
    </li>
    <li>
      <a href="http://louyang.webfactional.com">AntChatter</a> - 
		<a class="viewtag" href="https://github.com/codelucas/antchatter">view code</a>
      <span>[In Progress] Real-time chat service.</span>
    </li>
    <li>
      <a href="/pages/rocketboy.html">RocketBoy!</a> - 
		<a class="viewtag" href="https://github.com/codelucas/rocketboy">view code</a>
      <span>Java Applet game, 1st side project!</span>
    </li>
  </ul>

  <h2>Great People</h2>
  <ul class="listing">
    <li>
      <a href="http://norvig.com">Peter Norvig</a>
      <span>Research director @ google, great CS author.</span>
    </li>
    <li>
      <a href="http://feross.org">Feross</a>
      <span>Great web dev & designer. An inspiration.</span>
    </li>
    <li>
      <a href="https://mojang.com/notch/">Notch</a>
      <span>Besides Minecraft, he also built indy games.</span>
    </li>
    <li>
      <a href="https://twitter.com/AndrewCGower">Andrew Gower</a>
      <span>Built the 2nd largest <a href="http://runescape.com">MMO</a> in existence.</span>
    </li>
  </ul>
</div>
