---
layout: layout
title: "Home of Lucas Ou-Yang"
class: home
---
<div class="sectitle">
  <h1>Lucas Ou-Yang</h1>
  <p class="lead homepage-lead">
    Read my <a href="/about">bio</a> and
    <a href="/storage/lucas_resume.pdf" target="_blank">resume</a>. <br>
  </p>
</div>
<section class="content clearfix">
  <div class="chunk">
    <div class="col">
      <section>
        <h2>Notable work</h2>
        <ul>
          <li><a href="https://github.com/codelucas/newspaper" 
            title="Newspaper article extractor">Newspaper3K - <span>award winning</span></a></li>
          <li><a href="https://engineering.instagram.com/search-architecture-eeb34a936d3a#.fk41uoo3h"
            title="Instagram Search Infrastructure">Instagram Search</a></li>
          <li><a href="https://techcrunch.com/2017/11/29/snapchat-redesign/" title="">Snapchat algo redesign</a></li>
        </ul>
      </section>
    </div>
    <div class="col">
      <section>
        <h2>Blog</h2>
        <ul>
          {% for post in site.posts %}
            <li>
            {% if post.external_url %}
              <a href="{{ post.external_url }}" 
                onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" >
                {{ post.title | truncatewords:8 }}</a>
            {% else %}
                <a href="{{ post.url }}/">{{ post.title | truncatewords:8 }}</a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
    <div class="col">
      <section>
        <h2>Misc</h2>
        <ul>
          <li><a href="/the_state_of_asian_discourse" title="The state of Asian discourse">The state of Asian discourse</a></li>
          <li><a href="/quotes" title="Inspirational Quotes!">Quotes</a></li>
          <li><a href="/racist_love" title="Racist Love by Frank Chin">Racist Love</a></li>
          <!--<li><a href="/notes" title="Random notes compiled on the side">Notes</a></li>-->
        </ul>
      </section>
      <section>
        <h2>Side projects</h2>
        <ul>
          <li><a href="http://reddit.codelucas.com" title="">Reddit clone</li>
          <li><a href="http://wintria.com" title="">Wintria Search</a></li>
          <li><a href="http://youtu.be/BQNLj94_R3s" title="">FB Context</a></li>
          <li><a href="https://github.com/codelucas/shorten.tv" title="">Shorten.tv</a></li>
          <li><a href="http://fatty.codelucas.com" title="">Spongebob</a></li>
        </ul>
      </section>
    </div> 
 </div>
</section>
