$experimental-support-for-khtml: false;
@import "compass";
@import "compass/css3/font-face";

// Fonts
@include font-face("Proxima Nova", font-files("ProximaNova/ProximaNova-Regular.otf", otf));
@include font-face("Garamond Pro", font-files(
        "GaramPrePro/Garamond Premier Pro/GaramondPremrPro.otf", otf));

$serif: "Garamond Pro", sans-serif;
$serif-caps: "Garamond Pro", sans-serif;
$sans-serif: "Proxima Nova", sans-serif;

// Post width
$fullWidth: 1000px;
$postWidth: 650px;
$postWidthSmall: 600px;

// Media query break points
$break1: 480px;
$break2: 850px;
$break3: 950px;
$break4: 1100px;

// Colors
$mainColor: #1C9AE0; 
$darkMainColor: darken($mainColor, 10%);

$headerBgColor: #f8f8f8;
$blueGray: #7c858e;

$white: #FFF;
$lightestGray: #EEE;
$lighterGray: #CCC;
$lightGray: #999;
$gray: #666;
$darkGray: #555;
$darkerGray: #333;
$black: #000;

$navbar-height: 50px;

$bgColor: #FFFEFB;
$adColor: desaturate(darken($bgColor, 3%), 60%);
$adBorderColor: $lightestGray;

// Clearfix
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

// Misc
$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';
