<!doctype html>
<html>
<head>

  <!--
  
  Lucas Ou-Yang
  http://codelucas.com
  
  "I saw the angel in the marble and carved until I set him free." — Michelangelo

  -->
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Hi! My name is Lucas, i'm passionate about software & art. I build web applications and distance run in my spare time.{% endif %}{% endcapture %}
  <title>{{ page.title }} &raquo; codelucas.com</title>
  <meta property="og:title" content="{{ page.title }} &raquo; codelucas.com" />

  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />

  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <meta property="og:image" content="" />

  <meta property="article:author" content="http://codelucas.com/about/" />
  <meta property="fb:admins" content="" />
  <meta property="fb:app_id" content="" />
  <link rel="author" href="https://plus.google.com/108352969036344290601" />
  <link rel="icon" type="image/png" href="http://codelucas.com/favicon.ico">

  {% if page.class == "post" %}
  <link rel="canonical" href="http://codelucas.com{{ page.url }}/" />
  <meta property="og:url" content="http://codelucas.com{{ page.url }}/" />
  {% elsif page.class == "home" %}
  <link rel="canonical" href="http://codelucas.com/" />
  <meta property="og:url" content="http://codelucas.com/" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="alternate" type="application/atom+xml" title="codelucas.com" href="" /> -->

  <link rel="stylesheet" href="/css/compiled/style.css" />

  <script type="text/javascript" src="//use.typekit.net/lvb8hht.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body class="{{ page.class }}">

  <header id="header">
      <h1><a href="http://codelucas.com">{% if page.class == "resume" %}Lucas Ou-Yang{% else %}code&#9824;lucas{% endif %}</a></h1>
  </header>
  
  <div id="container">

    <section class="content clearfix">
      {{ content }}
    </section>

    {% if page.class == "home" %}
      <!-- <a href="https://github.com/codelucas" id="github">Fork me on GitHub</a> -->
    {% endif %}

  </div>
  <center>
      <div class="byline" style="margin-bottom:10px;">"I saw the angel in the marble and carved until I set him free." - Michelangelo</div>
  </center>

  <script src="/js/libraries.js"></script>
  <script src="/js/script.js"></script>

  {% if page.script %}
    <!-- Page-specific script -->
    <script>
      $(function() {
        {{ page.script }}
      });
    </script>
  {% endif %}

  {% if page.demo %}
    <!-- Page-specific demo code -->
    {{ page.demo }}
  {% endif %}

  {% if page.class == "post" %}

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  {% endif %}
  <!-- Google Analytics -->

</body>
</html>
