<!doctype html>
<html>
<head>
  <!--
  Lucas Ou-Yang
  http://codelucas.com
  
  "I saw the angel in the marble and carved until I set him free." 
  - Michelangelo
  -->
  {% capture meta_desc %}{% if page.summary %}{{ page.summary }}{% else %}Hi! My name is Lucas, I'm passionate about software & art. I build web applications and distance run in my spare time.{% endif %}{% endcapture %}
  <title>{{ page.title }} &raquo; codelucas.com</title>
  <meta property="og:title" content="{{ page.title }} &raquo; codelucas.com" />
  <meta name="description" content="{{ meta_desc }}">
  <meta property="og:description" content="{{ meta_desc }}" />

  <meta property="og:type" content="article" />
  {% if page.tags %}{% for tag in page.tags %}<meta property="article:tag" 
    content="{{ tag | replace: '-', ' ' }}" />{% endfor %}{% endif %}
  <meta property="og:image" content="http://codelucas.com/images/lucasou.png" />

  <meta property="article:author" content="http://codelucas.com/about/" />
  <meta property="fb:admins" content="lucas.ouyang.7" />
  <link rel="author" href="https://plus.google.com/108352969036344290601" />
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600'
    rel='stylesheet' type='text/css'>

  {% if page.class == "post" %}
    <link rel="canonical" href="http://codelucas.com{{ page.url }}/" />
    <meta property="og:url" content="http://codelucas.com{{ page.url }}/" />
  {% elsif page.class == "home" %}
    <link rel="canonical" href="http://codelucas.com/" />
    <meta property="og:url" content="http://codelucas.com/" />
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link rel="alternate" type="application/atom+xml" title="codelucas.com" href="" />-->

  <link rel="stylesheet" href="/css/compiled/style_4.css" />
</head>
<body class="{{ page.class }}">
  {% if page.class != "home" %}
    <header id="header">
      <div id="navcontainer">
        <ul id="navlist">
          <!--<li><a href="/">Home</a></li>-->
          <!--<li><a href="/blog/">Blog</a></li>-->
          <!--<li><a href="/resume/">Resume</a></li>-->
        </ul>
      </div>
    </header>
  {% else %}
    <div class="bg-image bg-image-one text-center">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" 
        height="100" viewbox="0 0 100 100" preserveaspectratio="none" 
        class="crossed-seperator crossed-seperator-bottom">
        <path d="M0 100 L100 100 L0 0 Z" class="one"></path>
        <path d="M0 100 L100 100 L100 0 Z" class="two"></path>
      </svg>
    </div>
  {% endif %}

  <div id="container">
    {% if page.class != "home" %}
      <section class="content clearfix">
        {{ content }}
      </section>
    {% else %}
      <section class="content clearfix">
        {{ content }}
      </section>
    {% endif %}
  </div>

  {% if page.class != "home" %}
  <center>
    <div class="byline" style="margin-bottom:10px;">
      "I saw the angel in the marble and carved until I set him free." 
      - Michelangelo
    </div>
  </center>
  {% endif %}

  <a href="/"><img id="icon-one" class="icon icon-one" 
      src="/images/lucasou.png"
      onmouseover="this.src='/images/ou.png';"
      onmouseout="this.src='/images/lucasou.png';">
  </a>
  <a href="/"><img id="icon-two" class="icon icon-two" 
      src="/images/selfie.jpg">
      <!--onmouseover="this.src='/images/selfie.jpg';"
      onmouseout="this.src='/images/bitmoji_photo.JPG';">-->
      <!--onmouseover="document.getElementById('icon-one').src='/images/ou.png';"
      onmouseout="document.getElementById('icon-one').src='/images/lucasou.png';">-->
  </a>

  <script src="/js/libraries.js"></script>
  <script src="/js/script_1.js"></script>

  {% if page.script %}
    <!-- Page-specific script -->
    <script>
      $(function() {
        {{ page.script }}
      });
    </script>
  {% endif %}

  {% if page.demo %}
    <!-- Page-specific demo code -->
    {{ page.demo }}
  {% endif %}

  {% if page.class == "post" %}
    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223190377735910";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  {% endif %}

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37131973-5', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
