---
layout: layout
class: post
---

<div class="postHeader">

  <h1>
    <a href="{{ page.url }}/">{{ page.title }}</a>
  </h1>

  <div class="byline">
    <span>By <a href="/about/" title="Lucas Ou">Lucas Ou-Yang</a></span>
    <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%B %e, %Y" }}</time>
    Tagged with
    <ul class="tags">
      {% for tag in page.tags %}
      <li><a href="/tag/{{ tag }}/">{{ tag | replace: '-', ' ' }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>

<article>

  {{ content }}

  <!--
  {% if site.related_posts %}
    <p>(If you liked this, you might like <a href="{{ site.related_posts[0].url }}/">
      {{ site.related_posts[0].title }}</a>.)</p>
  {% endif %} 
  -->

</article>

<section class="meta">
  <h3>
    <!-- Discussion & Media -->
    <!--
    TODO: Uncomment this when ready to add RSS feed
    <a class="rss" href="http://feeds.feedburner.com/" title="Subscribe to the codelucas.com Feed">
      <img src="/images/rss.png" alt="RSS Feed Icon" />
    </a>
    -->
  </h3>

  <section class="copy">
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=USERNAME_HERE', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>
        <a href="https://twitter.com/codelucas" class="avatar">
          <img src="/images/selfie.jpg" height="50" width="50" alt="Lucas Ou-Yang" />
        </a>
        Hey, thanks for reading! I'm <a href="/about/">Lucas Ou-Yang</a> and I love making things. 
        I am currently working on <a href="http://github.com/codelucas/newspaper">Newspaper</a>, 
        an open source library for news extraction. I'm happily employed, have a bachelors in
        Computer Science, and live in Los Angeles.
      </p>

      {% if page.hn %}<p>You can discuss, upvote, or poke fun at this post 
      over at <a href="{{ page.hn }}">Hacker News</a>.</p>{% endif %}

      <p>
        If you enjoyed this article, you should follow me on
        <a href="http://facebook.com/lucas.ouyang.7">Facebook</a> or 
        <a href="https://twitter.com/lucasouyang">Twitter</a>
        <!-- or sign up to get an email whenever I write something new:
          <input type="email" name="email" placeholder="email@email.com"/>
          <input type="hidden" value="codelucas" name="uri"/>
          <input type="hidden" name="loc" value="en_US"/>
          <input type="submit" value="Subscribe" />
        -->
      </p>
    </form>

    <p>Share this article with your friends:</p>

    <a href="https://twitter.com/share" class="twitter-share-button" 
        data-url="http://{% if page.old %}www.{% endif %}codelucas.com{{ page.url }}/"
        data-text="{{ page.title | xml_escape }}" data-via="lucasouyang" data-size="large"
        data-related="lucasouyang">Tweet</a>

    <div class="fb-like" data-href="http://codelucas.com{{ page.url }}/"
        data-send="false" data-width="320" data-show-faces="true"></div>

  </section>

  {% if page.previous.external_url %}
    <a class="prev" href="{{ page.previous.external_url }}/"
        onclick="_gaq.push(['_trackpageview', '{{ page.previous.url }}']);"
        title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
  {% elsif page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}/"
        title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
  {% endif %}

  {% if page.next.external_url %}
    <a class="next" href="{{ page.next.external_url }}/"
        onclick="_gaq.push(['_trackpageview', '{{ page.next.url }}']);"
        title="Next Post: {{ page.next.title }}">{{ page.next.title }}</a>
  {% elsif page.next.url %}
    <a class="next" href="{{ page.next.url }}/"
        title="Next Post: {{ page.next.title }}">{{ page.next.title }}</a>
  {% endif %}

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'codelucas';
      var disqus_developer = (window.location.hostname == 'localhost') ? 1 : 0;
      var disqus_url = 'http://codelucas.com{{ page.url }}/';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
